body{

}

.flex-container{
	display:flex; /* This defines a flex container */
	flex-direction:row;  /* Set the flow direction of items : row | row-reverse | column | column-reverse */
	flex-wrap:wrap; /* Allow items to wrap as needed : wrap | nowrap | wrap-reverse */
	/* flex-flow:row wrap; Shorthand for the flex-direction and flex-wrap : column wrap*/
	justify-content: flex-start; /* Defines the alignment of the items: start | end | center | flex-start | flex-end | space-between | space-around | space-between | space-evenly*/
}

.one{
	background-color:blue;
}

.two{
	background-color:red;
}

.three{
	background-color:yellow;
}

.four{
	background-color:green;
}

.five{
	background-color:gray;
}

.six{
	background-color:pink;
}

.flex-item{
	width:300px;
	height:200px;
	margin:20px;
}